.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.control {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  transition: visibility 1s, opacity 1s;
}

.control-visible {
  opacity: 1;
  visibility: visible;
}

.control-hidden {
  opacity: 0;
  visibility: hidden;
}

.control-container {
  margin: auto;
}

.input {
  width: 85px;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  text-align: center;
}

.centered-text {
  text-align: center;
}

.larger-text {
  font-size: 70px;
}

tr.labels {
  text-align: center;
}
